body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* LOGIN */
.login-container {
    width: 90%;
    max-width: 320px;
    margin: 120px auto;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

.login-container h1 {
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
}

.login-container button {
    width: 95%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.intentos {
    margin-top: 15px;
    font-weight: bold;
}

.error {
    color: red;
    margin-top: 10px;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
}

.header-center a {
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

/* LOGO */
.logo { width: 50px; }

/* BANDERAS */
.flag {
    width: 28px;
    margin-right: 10px;
    cursor: pointer;
}

/* BOTONES */
.btn {
    margin-left: 10px;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
}

/* INICIO */
.inicio-centrado {
    text-align: center;
    margin-top: 40px;
}

.foto-inicio {
    width: 150px;
    margin: 20px 0;
}
