body {
    font-family: Arial;
    margin: 0;
}

/* Centrado general */
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login */
.login-box {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.error {
    color: red;
}

/* Inicio */
header {
    text-align: center;
    padding: 20px;
}

main {
    text-align: center;
    padding: 20px;
}

img.foto {
    width: 300px;
    margin-top: 20px;
}

.caja {
    width: 60%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
}

/* Cuestionario */
.cuestionario {
    width: 60%;
    margin: auto;
    text-align: left;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 10px;
}
